.card {
  width: 250px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: auto;

  img {
    width: 100%;
    height: 180px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  a {
    color: #333;
  }
  p {
    font-size: 0.75rem;
  }
}
.addToCart {
  background: #fa9e0d;
  border-top-left-radius: 15px;
  img {
    width: 5rem;
    height: 4rem;
  }
}
